body{
    margin: 10px;
    padding: 5%;
    background-color: rgb(61, 52, 52);
    height: 100vh;
    font-family: Arial, sans-serif;
}
.container{
    height: 20%px;
    width: 356px;
    padding: 20px;
    margin: auto;
    justify-content: center;
    background-color: rgb(6, 2, 6);
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(10, 165, 196, 0.4);
}
.display{
    color:rgb(58, 3, 3);
    padding: 20px;
    height: 40px;
}
input{
    font-size: 25px;
    padding: 20px;
    text-align: right;
    margin-bottom: 20px;
    border-radius: 15px;
    color: rgb(13, 152, 221);
}
.btn{
    width: 85px;
    height: 80px;
    font-size: 25px;
    font-style: bold;
    text-align:center;
    cursor: pointer;
    background: transparent;
}
.btn:hover {
    background-color: #7ecff2;
}

.btn:active {
    background-color: #ed5d5d;
}
.btn a{
    border-radius: 0px;
    height: 10px;
}








